.body
{
	background-image: url(images/cosmos.jpg);
  background-size: 100% 100%;
	background-attachment: fixed;
	color: #ffffff;
}
div {
  height: 150px;
  width: 150px;
  transition: all 0.5s ease;
	margin: 200px 100px 800px 670px;
}
div:hover {
  animation: move 0.5s infinite linear;
}
@keyframes move {
  100% {
    transform: rotate(360deg);
  }
}
